services:
  eve-web:
    build:
      context: .
      dockerfile: ./web/Dockerfile
    container_name: eve-web
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-public"
      - "traefik.http.routers.eve.rule=Host(`eve.${TRAEFIK_DOMAIN}`)"
      - "traefik.http.routers.eve.entrypoints=websecure"
      - "traefik.http.routers.eve.tls.certresolver=letsencrypt"
    networks:
      - traefik-public
  eve-api:
    build:
      context: ./api
    container_name: eve-api
    restart: unless-stopped
    environment:
      CACHE_DIR: /data
      SCAN_CACHE_TTL: 1800
      ESI_SLEEP: 0.08
      PREWARM_ENABLED: "1"
      PREWARM_INTERVAL_SEC: 1800
      PREWARM_START_SYSTEMS: "Jita,Amarr,Dodixie,Rens,Hek"
      PREWARM_MAX_JUMPS: 5
      PREWARM_SAMPLE_SIZE: 40
      PREWARM_TYPES_PAGES: 1
      PREWARM_ORDER_PAGES: 1
      PREWARM_LIMIT: 10
      PREWARM_MAX_RUNTIME: 12
    volumes:
      - ./api/data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-public"
      - "traefik.http.routers.eve-api.rule=Host(`eve.${TRAEFIK_DOMAIN}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.eve-api.entrypoints=websecure"
      - "traefik.http.routers.eve-api.tls.certresolver=letsencrypt"
      - "traefik.http.routers.eve-api.priority=100"
      - "traefik.http.services.eve-api.loadbalancer.server.port=8000"
    networks:
      - traefik-public

networks:
  traefik-public:
    external: true
